.landing_navbar {
  background-color: #888888;
  width: 296%;
  padding-top: 10%;
  top: 0;
}

.image {
  margin-left: 130%;
  width: 200px;
  height: 200px;
  z-index: -1;
}
/* .landing_header {
  top: 20px;
  background-color: blueviolet;
} */

.landing_page {
  top: 20px;
  position: absolute;
}

h1 {
  margin-left: 135%;
  color: antiquewhite;
  width: fit-content;
}

.info_body {
  width: 50%;
  margin-top: 5%;
}

.login {
  margin-top: -200px;
}

.landing_info {
  box-shadow: 5px 10px #888888;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 60%;
}

.info_contact {
  background-color: rgba(0, 0, 0, 0.753);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
